# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
# For Local MongoDB (uncomment if using local installation):
# MONGODB_URI=mongodb://localhost:27017/task-management

# For MongoDB Atlas - Method 1: Separate credentials (more secure)
DB_USERNAME=11mamtapandey13
DB_PASSWORD=7tte4Af7YBXxXSh2
DB_CLUSTER=cluster0.oel9glp.mongodb.net
DB_NAME=task-management

# For MongoDB Atlas - Method 2: Full connection string (less secure)
# MONGODB_URI=mongodb+srv://username:password@cluster0.oel9glp.mongodb.net/task-management?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Security
BCRYPT_SALT_ROUNDS=12

# CORS Configuration
CORS_ORIGIN=http://localhost:4200
